[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=mysql.service

[Service]
Type=simple
User=git
Group=users
ExecStart=/home/git/srcs/go/src/github.com/gogits/gogs/gogs web
Environment=USER=git HOME=/home/git
RemainAfterExit=yes
Restart=always
WorkingDirectory=/home/git/gogs/logs

[Install]
WantedBy=multi-user.target
